
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    
}
.czerwony {
	margin: 10px;
	background-color: #ff3300;
	font-size: 18px;
	color: black;
	border-radius: 7px;
	box-shadow: 5px 5px 10px #990000;
	border: 1px solid #ff3300;
}
.zielony {
	background-color: #a1d0b3;
}

.lang {
	margin-top: 10px;
	font-size: 22px;
	color: #008833;
}
.tab {
	margin-left: 10px;
}
#link_wew {
	margin-left: 10px;
}
#tabelka {
    background-color: #FFFFFF;
}
aside, article {
	text-align: justify;
    text-justify: inter-word;
}
#spis > .blekitny{
	background-color: #99ccff;
}
#galeria {
border-spacing: 0px;
margin-left: 40px;
border: none;

}
#galeria td{
	border-top: none;
	float: left;
}
#galeria > tbody > tr > td{
	padding: 0% ;
}
form label {
	width: 80px;
	font: sans-serif, helvetica;
	font-weight: 200;
	font-size: 19px;
}
form input{
	font: sans-serif, helvetica;
	font-weight: 200;
}
.plec input {
	width: 30%;
	

}
form ul > li {
	list-style: none;
	margin:10px 0 ;
}
.przyciski {
	width: 100px;
	margin-left: 10px;
}