:root { background-color: whitesmoke; }
body { 
    width: 80%; 
    background-color: #FFFFFF; 
    color: black; 
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%; 
    font-family: Arial; 
    border: 2px solid #567889;
    border-radius: 15px; 
    padding: 50px;
}
.clear {
    clear: both;
}
h2 {
color: #105171
}
time{
    border: thin solid #FF4500;
    padding: 1px;
}
#naglowek {
    text-align: left;
    border-bottom: solid 2px #567889;
    padding-bottom: 10px;
}
#zawartosc {
    padding-top: 20px;
}
#stopka {
    font-size: .8em;
    text-align: right;
    padding: 5px;
    background: #657d64;
}
    #stopka img {
        margin-left: 10px;
    }
footer {
    margin-bottom: 10px;
}
#nawigacja {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.0em;
}
    #nawigacja a {
        color: #e8e4e4;
        display: block;
        padding: 10px 20px;
        background: #4F4F4F;
        text-decoration: none;
    }
        #nawigacja a:visited {
            color: #e8e4e4;
        }
        #nawigacja a:hover {
            background: #c60909;
        }
    #nawigacja #lewy {
        float: left;
        width: 20%;
        text-align: left;
    }
#lewy a {
    border-radius: 50px 0 0 50px;
}
#nawigacja #srodek {
    float: left;
    width: 60%;
    text-align: center;
}
#srodek a {
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}
#nawigacja #prawy {
    float: left;
    width: 20%;
    text-align: right;
}
#prawy a {
    border-radius: 0 50px 50px 0;
}
#zawartosc a {
    color: #4F4F4F;
}
    #zawartosc a:hover {
        color: #dc1515;
        text-decoration: underline;
    }
.st-box {
    float: left;
}
.czerwony {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #c11818;
    box-shadow:2px 2px 2px black;
    width: 200px;
    height: 200px;

   
}
