:root { background-color: silver; }
body { 
    width: 80%; 
    background-color: #EEEEFF; 
    color: black; 
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%; 
    font-family: Arial; 
    border: 2px solid #567889;
    border-radius: 15px; 
    padding: 50px;
}
.clear {
    clear: both;
}
form label{
    font-size: 22px;
    font-family: sans-serif, helvetica;
    font-weight: 200;
    
}
form input {
    vertical-align: middle;
    margin-bottom: 4px;
    font-size: 16px;
    padding: 3px;
}

form ul > li {
    list-style: none;
    margin: 10px 0;
}
h2 {
color: #105171
}
time{
    border: thin solid #FF4500;
    padding: 1px;
}
.flex{
    display: inline-flex;
}
.btn {
    padding: 4px 8px;
    border-radius: 3px;
    border: 2px solid black;
}
.btn:hover{
    background-color: #678910;
    color: white;
    border-radius: 3px;
}
.menu-frames ul {
    list-style: none;
}

.menu-frames ul li { 
    padding-left: 16px;
    text-align: left;
}
.menu-frames ul li a{
    text-decoration: none;
    color: #444444;
    font-weight: 400;
}
.fa-paw{
    margin-right: 2px;
    margin-left: 2px;
}
.run{
    width: 19px;
}

iframe {
    width: 100%;
    height: 600px;
    border-color: #678910;
    background-image: url(http://4.bp.blogspot.com/-rI6g4ZgVqBA/Uv8fPnl9TLI/AAAAAAAAMZU/tbylo5ngisg/s1600/iFrame+Generator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


#naglowek {
    text-align: left;
    border-bottom: solid 2px #567889;
    padding-bottom: 10px;
}
#zawartosc {
    padding-top: 20px;
}
#zawartosc .video {
    margin-left: 20%;
    margin-right: auto;
    width: 80%;
    padding-bottom: 10%;
}
#stopka {
    font-size: .8em;
    text-align: right;
    padding: 5px;
    background: #657d64;
}
    #stopka img {
        margin-left: 10px;
    }
footer {
    margin-bottom: 10px;
	color: gold;
}
#nawigacja {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.0em;
}
    #nawigacja a {
        color: #e8e4e4;
        display: block;
        padding: 10px 20px;
        background: #4F4F4F;
        text-decoration: none;
    }
        #nawigacja a:visited {
            color: #e8e4e4;
        }
        #nawigacja a:hover {
            background: #c60909;
        }
    #nawigacja #lewy {
        float: left;
        width: 30%;
        text-align: left;
    }
#lewy a {
    border-radius: 50px 0 0 50px;
}
#nawigacja #srodek {
    float: left;
    width: 40%;
    text-align: center;
}
#srodek a {
    border-left: 3px solid #DBDBDB;
    border-right: 3px solid #DBDBDB;
}
#nawigacja #prawy {
    float: left;
    width: 30%;
    text-align: right;
}
#prawy a {
    border-radius: 0 50px 50px 0;
}
#zawartosc a {
    color: #4F4F4F;
}
    #zawartosc a:hover {
        color: #dc1515;
        text-decoration: underline;
    }
.st-box {
    float: left;
}

