
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    
}
.czerwony {
	margin: 10px;
	background-color: #ff3300;
	font-size: 18px;
	color: black;
	border-radius: 7px;
	box-shadow: 5px 5px 10px #990000;
	border: 1px solid #ff3300;
}
.zielony {
	background-color: #b3ff99
}

.lang {
	margin-top: 10px;
	font-size: 22px;
	color: #008833;
}
.tab {
	margin-left: 10px;
}
#link_wew {
	margin-left: 10px;
}