﻿:root {
    background-color: silver;
}
body {
    font-family: Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    background-color: maroon;
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 15px;
    padding: 50px;
}

header {
    padding: 10px;
    border-bottom: 2px solid #e5e5e5;
    margin: 0;
}

    header h1 {
        font-size: xx-large;
        font-weight: normal;
        padding: 20px;
        margin: 0;
        color: #FF9900;
    }

#listafilmow {
    margin: 20px;
}
#listafilmow ul {
    list-style: none;
}
#listafilmow li a {
    font-size: large;
    color: #FF9900;
    display: block;
    padding: 5px;
}

#listafilmow li a:hover {
    border-left: 10px solid #94c9d4;
    padding-left: 10px;
    background-color: #e7f5f8;
    text-decoration: none;
    color: #0000FF;
}

footer {
    font-size: smaller;
    color: #cccccc;
    text-align: center;
    padding: 10px 5px 5px 5px;
    border-top: 2px solid #e5e5e5;
}

#walidacja {
    margin: auto;
}
