:root { background-color: whitesmoke; }
body { 
    width: 80%; 
    background-color: #FFFFFF; 
    color: black; 
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%; 
    font-family: Arial; 
    border: 2px solid #567889;
    border-radius: 15px; 
    padding: 50px;
}
.clear {
    clear: both;
}
h2 {
color: #105171
}
time{
    border: thin solid #FF4500;
    padding: 1px;
}
#naglowek {
    text-align: left;
    border-bottom: solid 2px #567889;
    padding-bottom: 10px;
}
#zawartosc {
    padding-top: 20px;
}
#stopka {
    font-size: .8em;
    text-align: right;
    padding: 5px;
    background: #657d64;
}
    #stopka img {
        margin-left: 10px;
    }
footer {
    margin-bottom: 10px;
}
#nawigacja {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.0em;
}
    #nawigacja a {
        color: #e8e4e4;
        display: block;
        padding: 10px 20px;
        background: #4F4F4F;
        text-decoration: none;
    }
        #nawigacja a:visited {
            color: #e8e4e4;
        }
        #nawigacja a:hover {
            background: #c60909;
        }
    #nawigacja #lewy {
        float: left;
        width: 20%;
        text-align: left;
    }
#lewy a {
    border-radius: 50px 0 0 50px;
}
#nawigacja #srodek {
    float: left;
    width: 60%;
    text-align: center;
}
#srodek a {
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}
#nawigacja #prawy {
    float: left;
    width: 20%;
    text-align: right;
}
#prawy a {
    border-radius: 0 50px 50px 0;
}
#zawartosc a {
    color: #4F4F4F;
}
    #zawartosc a:hover {
        color: #dc1515;
        text-decoration: underline;
    }
.st-box {
    float: left;
}
/*--------Sylwii-style---------*/

canvas {
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00BCD4;
    background-color: #E0F7FA;
}

#div1 {
    margin-left: 10%; 
    margin-right: 10%;
    text-align: center;
    font-family: 'Conv_Hero';
    font-size: 22px;
}

.mojedivy {
    list-style-type: none;
    margin-left: 3%;
    padding: 0;

}
.mojedivy p {
    color: #FFFFFF;
    text-shadow: 1px 0px 10px #446644;
    margin: 80px;
    font-size: 32px;
}
.mojedivy  li{
    display: inline-block;
}
#pierwszy, #drugi, #trzeci, #czwarty {
    width: 250px;
    height: 200px;
    border: 4px solid #3F51B5;
    background-color: #9FA8DA;
    text-shadow: 0px 2px 1px black;
}
#pierwszy{
    border: 4px solid #4CAF50;
    background-color: #4CAF50;
}
#drugi {
    border: 4px solid #FFEB3B;
    background-color: #FFEB3B;
}
#czwarty {
    border: 4px solid #00BCD4;
    background-color: #00BCD4;
}
@font-face {
    font-family: 'Conv_Hero Light';
    src: url('fonts/Hero Light.eot');
    src: local('☺'), url('fonts/Hero Light.woff') format('woff'), url('fonts/Hero Light.ttf') format('truetype'), url('fonts/Hero Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Hero';
    src: url('fonts/Hero.eot');
    src: local('☺'), url('fonts/Hero.woff') format('woff'), url('fonts/Hero.ttf') format('truetype'), url('fonts/Hero.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.zawartosc ul li {
    font-family:'Conv_Hero Light',Sans-Serif;
    font-size: 20px;
}
.zawartosc ul li > h3 {
    font-family: 'Conv_Hero';
}
.zawartosc ul li h3 + p {
    text-decoration: underline;
    text-shadow: 0 0 30px #64DD17;
    color: #4CAF50;
}
.table {
    width: 100%;
    height:30%;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}
.table td, th {
    padding: 10px;
}
.header{
    background-color: #3F51B5;
    color: #FFFFFF;
}
.parzyste {
    background-color: #9FA8DA;
}
.nieparzyste {
    background-color: #C5CAE9;
}
.czcionka {
    font-family: 'Conv_Hero Light';
    font-style: italic;
}
#malinowy{
    color: #F50057;
}
#pomaranczowy{
    border: 3px dashed #FF9800;
}
.shadow {
    box-shadow: 1px 3px 15px 1px;

}

#portale {
    list-style: none;
    margin-left: 30%;

}
#portale li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 6px;
}
#portale li[title="Facebook"]{
    background-color: #01579B;
}
#portale li[title="Google+"]{
    background-color: #DD2C00;
}
#portale li[title="Twitter"]{
    background-color: #40C4FF;
}
#portale li[title="YouTube"]{
    background-color: #B71C1C;
}
#portale li[title="Instagram"]{
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#31b2f7+12,dd2ef4+35,dd2ef4+38,ca29d8+67,ca29d8+67,e07b23+83,e07b23+83,f2eb1f+100 */
    background: #31b2f7; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #31b2f7 12%, #dd2ef4 35%, #dd2ef4 38%, #ca29d8 67%, #ca29d8 67%, #e07b23 83%, #e07b23 83%, #f2eb1f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #31b2f7 12%,#dd2ef4 35%,#dd2ef4 38%,#ca29d8 67%,#ca29d8 67%,#e07b23 83%,#e07b23 83%,#f2eb1f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #31b2f7 12%,#dd2ef4 35%,#dd2ef4 38%,#ca29d8 67%,#ca29d8 67%,#e07b23 83%,#e07b23 83%,#f2eb1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31b2f7', endColorstr='#f2eb1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#portale li a {
    padding: 0 ;
    color: #FFFFFF;   
}
#portale li a:hover {
    color: #000000;
}
#portale li p{
    margin: 0;

}