﻿:root{
    background-color:silver;
}
body {
    width: 80%;
    background-color: #102114;
    color: white;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: Arial;
    border-radius: 5px;
    padding: 50px;
}
span{
    color: red;
}
footer{
    color:goldenrod;
}
